.background {
    -fx-background-color: #71BFD1;
}

/* Colors or images for the different tiles */

.is-not-colored {
    -fx-border-width: 1;
    -fx-opacity: 0.3;
    -fx-border-color: rgb(101, 101, 101);
    -fx-background-color: rgb(101, 101, 101);
}

.is-colored {
    -fx-border-width: 3;
    -fx-opacity: 1;
}

.BLACK {
    -fx-background-color: #293A49;
    -fx-border-color: rgb(6, 11, 15);
}

.BLUE {
    -fx-background-color: rgb(66, 137, 172);
    -fx-border-color: rgb(31, 98, 124);
}

.WHITE {
    -fx-background-color: rgb(232, 247, 246);
    -fx-border-color: rgb(163, 216, 209);
}

.ORANGE {
    -fx-background-color: rgb(238, 187, 92);
    -fx-border-color: rgb(209, 143, 36);
}

.RED {
    -fx-background-color: rgb(221, 79, 80);
    -fx-border-color: rgb(153, 46, 56);
}

.STARTING{
    -fx-background-color: rgb(247, 247, 247);
    -fx-border-color: rgb(31, 98, 124);
    -fx-text-fill: rgb(31, 98, 124);
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-text-alignment: CENTER;
}

ClickableTile {
    -fx-border-width: 3;
    -fx-pref-width: 33;
    -fx-pref-height: 33;
    -fx-border-radius: 1;
    -fx-background-insets: 1;
    -fx-cursor: hand;
}

.playerBoard {
    -fx-arc-height: 16;
    -fx-arc-width: 16;
    -fx-fill: #fefaf4;
    -fx-stroke: #c7b299;
    -fx-stroke-width: 3;
}
