.background {
    -fx-background-color: #71BFD1;
}

Label, Text, Button {
    -fx-font-family: Binner;
}

/* Colors or images for the different tiles */

.is-not-colored {
    -fx-border-width: 1;
    -fx-opacity: 0.3;
    -fx-border-color: rgb(101, 101, 101);
    -fx-background-color: rgb(101, 101, 101);
    -fx-min-width: 33;
    -fx-min-height: 33;
    -fx-background-insets: 1;
    -fx-background-radius: 0;
}

.is-colored {
    -fx-border-width: 3;
    -fx-pref-width: 33;
    -fx-pref-height: 33;
    -fx-border-radius: 1;
    -fx-background-insets: 1;
    -fx-opacity: 1;
}

.BLACK {
    -fx-background-color: #293A49;
    -fx-border-color: rgb(6, 11, 15);
}

.BLUE {
    -fx-background-color: rgb(66, 137, 172);
    -fx-border-color: rgb(31, 98, 124);
}

.WHITE {
    -fx-background-color: rgb(232, 247, 246);
    -fx-border-color: rgb(163, 216, 209);
}

.ORANGE {
    -fx-background-color: rgb(238, 187, 92);
    -fx-border-color: rgb(209, 143, 36);
}

.RED {
    -fx-background-color: rgb(221, 79, 80);
    -fx-border-color: rgb(153, 46, 56);
}

.STARTING{
    -fx-background-color: rgb(247, 247, 247);
    -fx-border-color: rgb(31, 98, 124);
    -fx-text-fill: rgb(31, 98, 124);
    -fx-font-size: 21px;
    -fx-font-family: Binner;
    -fx-text-alignment: CENTER;
}

ClickableTile {
    -fx-border-width: 3;
    -fx-pref-width: 33;
    -fx-pref-height: 33;
    -fx-border-radius: 1;
    -fx-background-insets: 1;
    -fx-cursor: hand;
}

.winnerBoard {
    -fx-arc-height: 16;
    -fx-arc-width: 16;
    -fx-stroke-width: 7;
    -fx-fill: #fefaf4;
    -fx-stroke: #D9AB38;
}

.playerBoard {
    -fx-arc-height: 16;
    -fx-arc-width: 16;
    -fx-fill: #fefaf4;
    -fx-stroke: #c7b299;
    -fx-stroke-width: 3;
}

.floorTileEmpty {
    -fx-background-color: rgb(249, 240, 229);
    -fx-border-color: rgb(199, 178, 153);
    -fx-border-width: 1;
    -fx-min-width: 33;
    -fx-min-height: 33;
    -fx-background-insets: 1;
    -fx-background-radius: 0;
}

.winnerText {
    -fx-text-fill: #D9AB38;
    -fx-fill: #D9AB38;
}

#scoreText {
    -fx-font-size: 50;
}

#playerName {
    -fx-font-size: 25;
}

#addPlayerButton, #startButton {
    -fx-pref-width: 110;
    -fx-background-color: FloralWhite;
}

#addPlayerButton:hover, #startButton:hover {
    -fx-background-color: #DFDAD0;
}

#usernameTextField {
    -fx-max-width: 200;
}

#welcomeText {
    -fx-font-size: 30;
}

/* Effects for tiles that the player can choose to place a tile on */
.tile-option:hover {
    -fx-background-color: rgb(199, 178, 153);
    /*-fx-effect: dropshadow(gaussian, rgb(170, 170, 170), 30, 0.4, 0, 0);*/
}

.tile-option {
    -fx-cursor: hand;
    -fx-border-width: 2;
    /*-fx-effect: dropshadow(gaussian, rgb(200, 200, 200), 30, 0.4, 0, 0);*/
}
