Space {
    -fx-min-width: 33;
    -fx-min-height: 33;
    -fx-background-color: rgb(249, 240, 229);
    -fx-border-color: rgb(199, 178, 153);
    -fx-border-width: 1;
    /*-fx-border-radius: 1;*/
    -fx-background-insets: 1;
    -fx-background-radius: 0;
}

HBox, VBox {
    -fx-spacing: 4;
}

StackPane {
    -fx-background-color: rgb(254, 250, 244);
    -fx-pref-width: 175;
    -fx-pref-height: 175;
    -fx-min-width: 175;
    -fx-min-height: 175;
    -fx-max-width: 175;
    -fx-max-height: 175;
}

/* Effects for tiles that the player can choose to place a tile on */
.tile-option:hover {
    -fx-background-color: rgb(199, 178, 153);
    /*-fx-effect: dropshadow(gaussian, rgb(170, 170, 170), 30, 0.4, 0, 0);*/
}

.tile-option {
    -fx-cursor: hand;
    /*-fx-effect: dropshadow(gaussian, rgb(200, 200, 200), 30, 0.4, 0, 0);*/
}