.pattern-tile-box {
    -fx-min-width: 32;
    -fx-min-height: 32;
    -fx-background-color: rgb(249, 240, 229);
    -fx-border-color: rgb(199, 178, 153);
    -fx-border-width: 2;
    -fx-border-radius: 1;
    -fx-background-insets: 1;
    -fx-background-radius: 0;
}

.pattern-row {
    -fx-spacing: 4;
}

.pattern-rows {
    -fx-spacing: 4;
}

.pattern-view {
    -fx-background-color: rgb(254, 250, 244);
    -fx-pref-width: 178;
    -fx-pref-height: 178;
}

/* Colors or images for the different tiles */

.is-colored {
    -fx-border-width: 0;
}

.BLACK {
    -fx-background-color: rgb(34, 34, 34);
}

.BLUE {
    -fx-background-color: rgb(13, 0, 255);
}

.WHITE {
    -fx-background-color: rgb(230, 230, 230);
}

.ORANGE {
    -fx-background-color: rgb(255, 111, 0);
}

.RED {
    -fx-background-color: rgb(255, 0, 0);
}


/* Effects for tiles that the player can choose to place a tile on */
.tile-option:hover {
    -fx-background-color: rgb(199, 178, 153);
    -fx-effect: dropshadow(gaussian, rgb(170, 170, 170), 30, 0.4, 0, 0);
}

.tile-option {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgb(200, 200, 200), 30, 0.4, 0, 0);
}